<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav class="example-sidenav" mode="side" closed>
        <mat-list>
            <a mat-list-item [routerLink]="['/displaystore']">Add Entry</a>
            <a mat-list-item [routerLink]="['/storename']">Change Store Name</a>
            <a mat-list-item [routerLink]="['/viewhistory']">View History</a>
            <a mat-list-item [routerLink]="['/clearhistory']">Clear Account</a>
            <button mat-raised-button color="primary" (click)="logout()">Log Out</button>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>

        <body id="storenamebody" class="mat-app-background">
            <header class="mat-elevation-z16 text-center">
                <h1>Welcome! Register Your Store Name to continue further</h1>
            </header>
            <div class="container">
                <form [formGroup]="storenameform">
                    <div class="form-group row text-center">
                        <div class="col-12">
                            <label for="storename">Store Name</label>
                        </div>
                    </div>
                    <div class="form-group row text-center">
                        <div class="col-12 col-sm-3 offset-md-4 offset-sm-2 col-md-4">
                            <input type="text" class="form-control" placeholder="Enter your store name" formControlName="name" id="storename">
                        </div>
                    </div>
                    <div class="form-group row text-center">
                        <div class="col-12">
                            <button mat-raised-button type="submit" color="warn" (click)="addStore()">Add My Store</button>
                        </div>
                    </div>
                </form>
            </div>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
            </script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
            </script>
        </body>

    </mat-sidenav-content>
</mat-sidenav-container>

</html>